<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <partytown>
            <general>
                <enable>1</enable>
                <display_text>Perspective Partytown</display_text>
            </general>
        </partytown>
        <dev>
            <js>
                <minify_exclude>
                    <sw>Perspective_Partytown/js/lib/partytown-sw.js</sw>
                    <atomics>Perspective_Partytown/js/lib/partytown-atomics.js</atomics>
                    <media>Perspective_Partytown/js/lib/partytown-media.js</media>
                    <partytown>Perspective_Partytown/js/lib/partytown.js</partytown>
                    <atomics-debug>Perspective_Partytown/js/lib/debug/partytown-atomics.js</atomics-debug>
                    <media-debug>Perspective_Partytown/js/lib/debug/partytown-media.js</media-debug>
                    <sw-sandbox-debug>Perspective_Partytown/js/lib/debug/partytown-sandbox-sw.js</sw-sandbox-debug>
                    <sw-debug>Perspective_Partytown/js/lib/debug/partytown-sw.js</sw-debug>
                    <ww-atomics>Perspective_Partytown/js/lib/debug/partytown-ww-atomics</ww-atomics>
                    <ww-sw>Perspective_Partytown/js/lib/debug/partytown-ww-sw</ww-sw>
                    <partytown-debug>Perspective_Partytown/js/lib/debug/partytown.js</partytown-debug>
                </minify_exclude>
            </js>
        </dev>
    </default>
</config>
