<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Perspective\Partytown\Api\Config\ConfigProviderInterface"
                type="Perspective\Partytown\Model\Config\ConfigProvider"/>
</config>